.register {
    background-color: #ff7373;
    width: 500px;
    margin: auto;
}

.error{
    color: white;
    font-size: 18px;
}

h1 {
    margin-left: auto;
    margin-top: 50px;
    text-align: center;
    font-weight: 100;
    font-size: 2.8em;
    color: #ffffff;
}

a{
  color: #ffffff;
  font-size: 18px;
}

.formStyle {
    background-color: #ff7373;
    padding: 20px;
    width: 400px;
    margin-bottom: 20px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ecf0f1;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    font-size: 1em;
    font-weight: 100;
    color: #ffffff;
}

.formButton {
    float: right;
    background-color: #ffffff;
    display: inline-block;
    color: #f85858;
    font-size: 28px;
    font-weight: 500;
    padding: 6px 24px;
    margin-top: 15px;
    margin-right: 60px;
    text-decoration: none;
    border: 1px solid;
    border-radius: 10px;
}

.formButton:hover {
    background-color: #f85858;
    color: #ffffff;
}

.formButton:active {
    position: relative;
    top: 3px;
}

input:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: #ecf0f1;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #ecf0f1;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #ecf0f1;
}

:-ms-input-placeholder {
    color: #ecf0f1;
}
